<h1>Welcome back</h1>
<p>Name: <%= @user.username %></p>


<%= link_to "See guests", guests_path %>
<%= link_to "See episodes", episodes_path %>
<%= link_to "Create a new Appearance", new_appearance_path %>
